In [10]:
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format
import numpy as np
np.set_printoptions(precision=4)
np.set_printoptions(suppress=True)
import warnings
warnings.filterwarnings("ignore")

In [11]:
import os.path
def path_base(base_name):
    current_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
    print(current_dir)
    data_dir = current_dir.replace('notebook','data')
    print(data_dir)
    data_base = data_dir + '\\' + base_name
    print(data_base)
    return data_base

In [12]:
base = pd.read_csv(path_base('db_censo.csv'))

C:\MyPhyton\DataScience\notebook
C:\MyPhyton\DataScience\data
C:\MyPhyton\DataScience\data\db_censo.csv

In [13]:
base.shape

(32561, 15)

In [5]:
base.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [5]:
base.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.00000,32561.00000,32561.00000,32561.00000,32561.00000,32561.00000
mean,38.58165,189778.36651,10.08068,1077.64884,87.30383,40.43746
std,13.64043,105549.97770,2.57272,7385.29208,402.96022,12.34743
min,17.00000,12285.00000,1.00000,0.00000,0.00000,1.00000
25%,28.00000,117827.00000,9.00000,0.00000,0.00000,40.00000
50%,37.00000,178356.00000,10.00000,0.00000,0.00000,40.00000
75%,48.00000,237051.00000,12.00000,0.00000,0.00000,45.00000
max,90.00000,1484705.00000,16.00000,99999.00000,4356.00000,99.00000

# Previsores e classes

In [6]:
previsores = base.iloc[:,0:14].values

In [7]:
classe = base.iloc[:,14].values

# Transformação de categóricos para numéricos

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder_previsores = LabelEncoder()

In [9]:
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:, 13])

In [10]:
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
previsores = onehotencorder.fit_transform(previsores).toarray()

In [11]:
previsores.shape

(32561, 108)

type(previsores)

# Deixar as variáveis na mesma escala
Importante em algoritimos que usam distancia Euclidiana como o Kmeans

In [12]:
labelencorder_classe = LabelEncoder()
classe = labelencorder_classe.fit_transform(classe)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

# Divisão em base de treinos e testes

In [14]:
from sklearn.model_selection import train_test_split
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.15, random_state=0)

In [15]:
print(previsores_treinamento.shape)
print(classe_treinamento.shape)

(27676, 108)
(27676,)

In [16]:
print(previsores_teste.shape)
print(classe_teste.shape)

(4885, 108)
(4885,)

In [17]:
#importação da biblioteca
#criacao do classificador
from sklearn.linear_model import LogisticRegression
classificador = LogisticRegression(random_state=1)

In [18]:
classificador.fit(previsores_treinamento,classe_treinamento)
previsoes = classificador.predict(previsores_teste)

In [19]:
from sklearn.metrics import confusion_matrix,accuracy_score
precisao = accuracy_score(classe_teste,previsoes)
matriz = confusion_matrix(classe_teste,previsoes)

In [23]:
print(classificador.intercept_)
print(classificador.coef_)

[-2.1047]
[[-0.0694  0.1187 -0.009  -0.0781  0.0577  0.0509 -0.0883 -0.0501 -0.1429
  -0.1048 -0.1192 -0.0377 -0.0208 -0.0294 -0.0846 -0.0809 -0.0082  0.0109
   0.1469  0.1202 -0.0784  0.1456 -0.4753  0.1144  0.0228 -0.1933  0.0438
   0.7078 -0.0657 -0.5233 -0.1092 -0.0894 -0.0743 -0.0141 -0.0206  0.0222
   0.2518 -0.1682 -0.143  -0.0847 -0.2557 -0.269   0.1617  0.0858  0.0833
   0.109  -0.0257 -0.0299  0.1379 -0.0845 -0.3086  0.0589  0.2933 -0.0525
   0.0236 -0.0238 -0.0086  0.0248 -0.211   0.211  -0.0182  0.0369  0.0242
  -0.0338 -0.1017  0.0214 -0.0708 -0.0086 -0.0289  0.0005  0.013   0.0126
  -0.0307 -0.0072 -0.0008 -0.0252 -0.0195  0.0109 -0.0033 -0.0151 -0.002
   0.0088  0.0416  0.0022  0.0166 -0.003  -0.0638 -0.005  -0.1313 -0.0145
   0.0655  0.0058 -0.0008 -0.0441  0.0062 -0.0449  0.0042 -0.0075 -0.0297
   0.0745 -0.0526  0.0123  0.3418  0.0692  0.3708  2.3527  0.2531  0.3732]]

In [20]:
precisao

0.849539406345957

In [21]:
matriz

array([[3423,  270],
       [ 465,  727]], dtype=int64)

In [22]:
import collections
collections.Counter(classe_teste)

Counter({0: 3693, 1: 1192})