In [6]:
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format
import numpy as np
np.set_printoptions(precision=4)
np.set_printoptions(suppress=True)
import warnings
warnings.filterwarnings("ignore")

In [7]:
import os.path
def path_base(base_name):
    current_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
    print(current_dir)
    data_dir = current_dir.replace('notebook','data')
    print(data_dir)
    data_base = data_dir + '\\' + base_name
    print(data_base)
    return data_base

In [8]:
base = pd.read_csv(path_base('db_preco_casas.csv'))

C:\MyPhyton\DataScience\notebook
C:\MyPhyton\DataScience\data
C:\MyPhyton\DataScience\data\db_preco_casas.csv

In [9]:
base.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00000,3,1.00000,1180,5650,1.00000,0,0,...,7,1180,0,1955,0,98178,47.51120,-122.25700,1340,5650
1,6414100192,20141209T000000,538000.00000,3,2.25000,2570,7242,2.00000,0,0,...,7,2170,400,1951,1991,98125,47.72100,-122.31900,1690,7639
2,5631500400,20150225T000000,180000.00000,2,1.00000,770,10000,1.00000,0,0,...,6,770,0,1933,0,98028,47.73790,-122.23300,2720,8062

In [5]:
base.shape

(21613, 21)

In [25]:
X = base.iloc[:,3:19].values
print(X[0:1,:])

[[ 3.00000e+00  1.00000e+00  1.18000e+03  5.65000e+03  1.00000e+00
   0.00000e+00  0.00000e+00  3.00000e+00  7.00000e+00  1.18000e+03
   0.00000e+00  1.95500e+03  0.00000e+00  9.81780e+04  4.75112e+01
  -1.22257e+02]]

In [26]:
y = base.iloc[:,2].values
print(y)

[221900. 538000. 180000. ... 402101. 400000. 325000.]

In [27]:
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X,
                                                                 y,
                                                                 test_size = 0.3,
                                                                 random_state=0)

In [28]:
print(X_treinamento.shape)
print(X_teste.shape)
print(y_treinamento.shape)
print(y_teste.shape)

(15129, 16)
(6484, 16)
(15129,)
(6484,)

In [29]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [30]:
regressor.fit(X_treinamento,y_treinamento)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
# b0
regressor.intercept_

5736222.703411904

In [32]:
# b1
regressor.coef_

array([-3.08423090e+04,  3.66540816e+04,  1.12179159e+02,  8.00604121e-03,
        9.60355724e+03,  5.85441638e+05,  5.60621840e+04,  2.54795004e+04,
        1.01092121e+05,  6.96565320e+01,  4.25226266e+01, -2.60724691e+03,
        1.40070753e+01, -5.53557431e+02,  6.11778251e+05, -1.95564688e+05])

### Score Treinamento

In [14]:
score = regressor.score(X_treinamento,y_treinamento)
score

0.7029888085955007

In [33]:
previsoes = regressor.predict(X_teste)

In [34]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [35]:
mae = mean_absolute_error(y_teste,previsoes)
mae

123888.4437748418

In [36]:
mse = mean_squared_error(y_teste,previsoes)
mse

42760757001.5445

In [37]:
resultado  = abs(y_teste-previsoes)

In [38]:
print(resultado)

[86751.77768681 63783.82482534 15178.03820903 ... 65031.42376721
 48594.44426446 57871.16532958]

In [39]:
resultado.mean()

123888.4437748418

### Score Teste

In [40]:
score = regressor.score(X_teste,y_teste)
score

0.6885414149062064