In [8]:
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format
import numpy as np
np.set_printoptions(precision=4)
np.set_printoptions(suppress=True)
import warnings
warnings.filterwarnings("ignore")

In [9]:
import os.path
def path_base(base_name):
    current_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
    print(current_dir)
    data_dir = current_dir.replace('notebook','data')
    print(data_dir)
    data_base = data_dir + '\\' + base_name
    print(data_base)
    return data_base

In [10]:
base = pd.read_csv(path_base('db_preco_casas.csv'))

C:\MyPhyton\DataScience\notebook
C:\MyPhyton\DataScience\data
C:\MyPhyton\DataScience\data\db_preco_casas.csv

In [11]:
base.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00000,3,1.00000,1180,5650,1.00000,0,0,...,7,1180,0,1955,0,98178,47.51120,-122.25700,1340,5650
1,6414100192,20141209T000000,538000.00000,3,2.25000,2570,7242,2.00000,0,0,...,7,2170,400,1951,1991,98125,47.72100,-122.31900,1690,7639
2,5631500400,20150225T000000,180000.00000,2,1.00000,770,10000,1.00000,0,0,...,6,770,0,1933,0,98028,47.73790,-122.23300,2720,8062

In [56]:
base.shape

(21613, 21)

In [57]:
X = base.iloc[:,3:19].values
print(X[0:1])

[[ 3.00000e+00  1.00000e+00  1.18000e+03  5.65000e+03  1.00000e+00
   0.00000e+00  0.00000e+00  3.00000e+00  7.00000e+00  1.18000e+03
   0.00000e+00  1.95500e+03  0.00000e+00  9.81780e+04  4.75112e+01
  -1.22257e+02]]

In [58]:
y = base.iloc[:,2:3].values
print(y)

[[221900.]
 [538000.]
 [180000.]
 ...
 [402101.]
 [400000.]
 [325000.]]

In [59]:
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
X = scaler_x.fit_transform(X)
scaler_y = StandardScaler()
y = scaler_y.fit_transform(y)

In [60]:
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X,
                                                                 y,
                                                                 test_size = 0.3,
                                                                 random_state=0)

In [61]:
print(X_treinamento.shape)
print(X_teste.shape)
print(y_treinamento.shape)
print(y_teste.shape)

(15129, 16)
(6484, 16)
(15129, 1)
(6484, 1)

In [62]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf', c=3)

TypeError: __init__() got an unexpected keyword argument 'c'

In [63]:
regressor.fit(X_treinamento,y_treinamento)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

# Score

In [47]:
score = regressor.score(X_treinamento,y_treinamento)
score

0.8123465093269254

In [48]:
score_teste = regressor.score(X_teste,y_teste)
score_teste

0.7375903031882551

In [49]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [50]:
mae = mean_absolute_error(y_teste,previsoes)
mae

524163.1708571067

In [51]:
mse = mean_squared_error(y_teste,previsoes)
mse

355091067762.4313

# PREVISÕES

In [52]:
previsoes = regressor.predict(X_teste)
previsoes = scaler_y.inverse_transform(previsoes)
print(previsoes)
y_teste = scaler_y.inverse_transform(y_teste)
print(y_teste)

[ 341329.58944883 1806487.87659637  549451.32286862 ...  370713.69062882
  207617.59706888  161918.60662813]
[[ 297000.]
 [1578000.]
 [ 562100.]
 ...
 [ 380000.]
 [ 268000.]
 [ 206000.]]