In [1]:
import pandas as pd

In [2]:
import os.path
def path_base(base_name):
    current_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
    print(current_dir)
    data_dir = current_dir.replace('notebook','data')
    print(data_dir)
    data_base = data_dir + '\\' + base_name
    print(data_base)
    return data_base

In [3]:
base = pd.read_csv(path_base('db_risco_credito.csv'))

C:\MyPhyton\DataScience\notebook
C:\MyPhyton\DataScience\data
C:\MyPhyton\DataScience\data\db_risco_credito.csv

In [4]:
base.head(3)

       historia divida garantias  renda     risco
0          ruim   alta   nenhuma   0_15      alto
1  desconhecida   alta   nenhuma  15_35      alto
2  desconhecida  baixa   nenhuma  15_35  moderado

In [4]:
base.describe()

            historia divida garantias     renda risco
count             14     14        14        14    14
unique             4      2         2         3     3
top     desconhecida   alta   nenhuma  acima_35  alto
freq               5      7        11         7     6

In [5]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
historia     14 non-null object
divida       14 non-null object
garantias    14 non-null object
renda        14 non-null object
risco        14 non-null object
dtypes: object(5)
memory usage: 688.0+ bytes

In [6]:
previsores = base.iloc[:,0:4].values
classe = base.iloc[:,4].values

In [8]:
print(previsores)
print(classe)

[['ruim' 'alta' 'nenhuma' '0_15']
 ['desconhecida' 'alta' 'nenhuma' '15_35']
 ['desconhecida' 'baixa' 'nenhuma' '15_35']
 ['desconhecida' 'baixa' 'nenhuma' 'acima_35']
 ['desconhecida' 'baixa' 'nenhuma' 'acima_35']
 ['desconhecida' 'baixa' 'adequada' 'acima_35']
 ['ruim' 'baixa' 'nenhuma' '0_15']
 ['ruim' 'baixa' 'adequada' 'acima_35']
 ['boa' 'baixa' 'nenhuma' 'acima_35']
 ['boa' 'alta' 'adequada' 'acima_35']
 ['boa' 'alta' 'nenhuma' '0_15']
 ['boa' 'alta' 'nenhuma' '15_35']
 ['boa ' 'alta' 'nenhuma' 'acima_35']
 ['ruim' 'alta' 'nenhuma' '15_35']]
['alto' 'alto' 'moderado' 'alto' 'baixo' 'baixo' 'alto' 'moderado' 'baixo'
 'baixo' 'alto' 'moderado' 'baixo' 'alto']

In [9]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [10]:
previsores[:,0] = labelencoder.fit_transform(previsores[:,0])
previsores[:,1] = labelencoder.fit_transform(previsores[:,1])
previsores[:,2] = labelencoder.fit_transform(previsores[:,2])
previsores[:,3] = labelencoder.fit_transform(previsores[:,3])

In [11]:
print(previsores)

[[3 0 1 0]
 [2 0 1 1]
 [2 1 1 1]
 [2 1 1 2]
 [2 1 1 2]
 [2 1 0 2]
 [3 1 1 0]
 [3 1 0 2]
 [0 1 1 2]
 [0 0 0 2]
 [0 0 1 0]
 [0 0 1 1]
 [1 0 1 2]
 [3 0 1 1]]

In [12]:
from sklearn.naive_bayes import GaussianNB
classificador = GaussianNB()
classificador.fit(previsores, classe)

GaussianNB(priors=None, var_smoothing=1e-09)

In [16]:
# hist boa, dívida alta, garantias nenhuma, renda > 35
# hist ruim, dívida alta, garantias adequada, renda < 15

In [15]:
resultado = classificador.predict([[0,0,1,2], [3, 0, 0, 0]])
resultado

array(['baixo', 'moderado'], dtype='<U8')

In [14]:
# Outras propriedades do Classificador
print(classificador.classes_)
print(classificador.class_count_)
print(classificador.class_prior_)

['alto' 'baixo' 'moderado']
[6. 5. 3.]
[0.42857143 0.35714286 0.21428571]