In [2]:
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format
import numpy as np
np.set_printoptions(precision=4)
np.set_printoptions(suppress=True)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import os.path
def path_base(base_name):
    current_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
    print(current_dir)
    data_dir = current_dir.replace('notebook','data')
    print(data_dir)
    data_base = data_dir + '\\' + base_name
    print(data_base)
    return data_base

In [4]:
base = pd.read_csv(path_base('db_censo.csv'))

C:\MyPhyton\DataScience\notebook
C:\MyPhyton\DataScience\data
C:\MyPhyton\DataScience\data\db_censo.csv

In [5]:
base.shape

(32561, 15)

In [5]:
base.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [6]:
base.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.00000,32561.00000,32561.00000,32561.00000,32561.00000,32561.00000
mean,38.58165,189778.36651,10.08068,1077.64884,87.30383,40.43746
std,13.64043,105549.97770,2.57272,7385.29208,402.96022,12.34743
min,17.00000,12285.00000,1.00000,0.00000,0.00000,1.00000
25%,28.00000,117827.00000,9.00000,0.00000,0.00000,40.00000
50%,37.00000,178356.00000,10.00000,0.00000,0.00000,40.00000
75%,48.00000,237051.00000,12.00000,0.00000,0.00000,45.00000
max,90.00000,1484705.00000,16.00000,99999.00000,4356.00000,99.00000

# Previsores e classes

In [7]:
previsores = base.iloc[:,0:14].values

In [8]:
classe = base.iloc[:,14].values

# Transformação de categóricos para numéricos

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder_previsores = LabelEncoder()

In [10]:
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:, 13])

In [11]:
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
previsores = onehotencorder.fit_transform(previsores).toarray()

In [12]:
previsores.shape

(32561, 108)

type(previsores)

# Deixar as variáveis na mesma escala
Importante em algoritimos que usam distancia Euclidiana como o Kmeans

In [13]:
labelencorder_classe = LabelEncoder()
classe = labelencorder_classe.fit_transform(classe)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

# Divisão em base de treinos e testes

In [15]:
from sklearn.model_selection import train_test_split
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.15, random_state=0)

In [16]:
print(previsores_treinamento.shape)
print(classe_treinamento.shape)

(27676, 108)
(27676,)

In [17]:
print(previsores_teste.shape)
print(classe_teste.shape)

(4885, 108)
(4885,)

In [ ]:
#importação da biblioteca
#criacao do classificador

In [ ]:
classificador.fit(previsores_treinamento,classe_treinamento)
previsoes = classificador.predict(previsores_teste)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
precisao = accuracy_score(classe_teste,previsoes)
matriz = confusion_matrix(classe_teste,previsoes)

In [ ]:
precisao

In [ ]:
matriz

In [ ]:
import collections
collections.Counter(classe_teste)